### Sets
- a set is a well defined collection of objects
- represented by {}
- tuple(),immutable
- list[],mutable,it allows the duplicate
- set(),won't allows us to store duplicate elements
- mutable in nature
- set()

In [3]:
s=set((1,2,3,4,6,2,5,2,5,6,7)) # one occurence
s

{1, 2, 3, 4, 5, 6, 7}

In [4]:
st=set("ruthu") # based on their ascii values,ascending order
st

{'h', 'r', 't', 'u'}

In [15]:
a={1,2,13,3,4,8,9,10,24,89,10}
a

{1, 2, 3, 4, 8, 9, 10, 13, 24, 89}

In [7]:
b={"ruthu",'vanitha','hi'} # containing no duplicate elements
b

{'hi', 'ruthu', 'vanitha'}

In [ ]:
# no slicing in set
# set and return :index is fixed,different

In [8]:
# set operations
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
a

{1, 2, 3, 4, 8, 9, 10, 13, 24, 89}

In [17]:
b={2,3,4,5,10}
b

{2, 3, 4, 5, 10}

In [18]:
a.intersection(b) # returns common elements in both setsa.inter

{2, 3, 4, 10}

In [20]:
a.intersection_update(b) # it will update a with common ele

In [21]:
a

{2, 3, 4, 10}

In [22]:
a

{2, 3, 4, 10}

In [26]:
d={1,2,3,4}
e={6,7,8,1,2}
d.union(e) # it will combines both sets

{1, 2, 3, 4, 6, 7, 8}

In [28]:
d-e # d that are not e

{3, 4}

In [27]:
d

{1, 2, 3, 4}

In [25]:
d.difference(e)

{3, 4}

In [29]:
d.isdisjoint(e) # separate,no common

False

In [30]:
n={'hi','hello'}
n

{'hello', 'hi'}

In [31]:
a

{2, 3, 4, 10}

In [32]:
a.update(n)

In [33]:
a # a gets updated

{10, 2, 3, 4, 'hello', 'hi'}

In [34]:
a.pop() # removes the first ele in set

'hello'

In [35]:
a.remove("hi")

In [38]:
a.remove(3) # 3 is removed from set

In [39]:
a

{2, 4, 10}

In [40]:
names={'fourth','first',"second",'third'}
p={'hi','hello','first'} # p is subset of names,absolutely not
p.issubset(names)

False

In [41]:
p2={'first','second'}
p2.issubset(names) # returns True

True

In [42]:
names.issuperset(p2)

True

In [43]:
 # prepare a list of elements with no duplicates
li=[89,80,13,12,89,10,12]
# unique elements list
unq=[]
for ele in li:
    if ele not in unq:
        unq.append(ele)
unq # no duplicates

[89, 80, 13, 12, 10]

In [45]:
s=set(li) # sorted order
print(list(s))

[10, 12, 13, 80, 89]

packages and modules

math,random

creating own packages 

oops

functional programming

numpy,pandas and matplotlib