### Today Topics
- Variable assignment
- operators in python
- Errors

In [4]:
x=10 
y=5
x+y

15

In [7]:
print(x-y)
x*y # return statement

5

50

2 variable assignment
    - multi variable assignment/single line assignment
        - we can assign multiple variables in a single line
    - multi value assignment

In [9]:
x=10
y=12
print(x)

10

In [10]:
y

12

In [12]:
x,y,z=4,6,12
print("x=",x)
print("y",y)
z

x= 4
y 6

12

In [13]:
num=10
num2=10
num+num2
#num=num2:10=10

20

In [14]:
num-num2

0

In [15]:
num=num2=10 # single value is assigned to multi variables

In [16]:
print(num)
print(num2)

10
10

#### Operators
- anything that performs an operation between 2 or more operands
    - ex:5+4=9
    - here "+" is the operator that performs addition op'n on operands 5&4
- arithmetic operators
    - +,-,*,/,//,**,%
- boolean operators
    - True/False
- comparisional/relational operators
    - <,<=,>,>=,==,!=
- assignment operators
    - =,+=,-=,*=,/=
- identity operators
    - is & is not
- membership operators
    - in & not in
- logical operators
    - and/or
- operators used in print() statements
    - sep,end

In [17]:
#write a python program to work with arithmetic operators
first=34
second=20
print("sum=",first+second)
print("difference=",first-second)
print("product=",first*second)
print("division=",first/second)
print("power=",first**second)
print("remainder=",first%second)

sum= 54
difference= 14
product= 680
division= 1.7
power= 4261655511456885005249781170176
remainder= 14

In [18]:
first

34

In [19]:
first is 34 # True

True

In [20]:
first is not 34 # wrong

False

In [21]:
first=34

In [22]:
first!=34

False

In [24]:
"a" in "I am Ruthu"

True

In [25]:
"c" not in "group"

True

In [26]:
"g" not in "gang" # wrong

False

In [27]:
first

34

In [28]:
second

20

In [29]:
first<second

False

In [30]:
second>first

False

In [32]:
first>=second

True

In [35]:
#sep,end
#write a python program to work with arithmetic operators
first=34
second=20
s=first+second
dif=first-second
pr=first*second
d=first/second
pw=first**second
rem=first%second
print(s,dif,pr,d,pw,rem)

54 14 680 1.7 4261655511456885005249781170176 14

In [36]:
#sep,end
#write a python program to work with arithmetic operators
f=34
s=20
print(f+s,f-s,f*s,f/s,f**s,f%s,sep=",")

54,14,680,1.7,4261655511456885005249781170176,14

In [41]:
#sep,end
#write a python program to work with arithmetic operators
f=34
s=20
print(f+s,f-s,f*s,f/s,f**s,f%s)

54 14 680 1.7 4261655511456885005249781170176 14

In [42]:
#sep,end
#write a python program to work with arithmetic operators
f=34
s=20
print(f+s,f-s,f*s,f/s,f**s,f%s,sep="@")

54@14@680@1.7@4261655511456885005249781170176@14

In [43]:
#sep,end
#write a python program to work with arithmetic operators
f=34
s=20
print(f+s,f-s,f*s,f/s,f**s,f%s,end=",")

54 14 680 1.7 4261655511456885005249781170176 14,

In [44]:
#sep,end
#write a python program to work with arithmetic operators
f=34
s=20
print(f+s,f-s,f*s,f/s,f**s,f%s,end="#")

54 14 680 1.7 4261655511456885005249781170176 14#

### Errors in Python
- an invalid statement in our program is called as an error
- set of statement--program
- 3 types of errors
    - syntax error
        - error related to syntax
        - print()
    - value error and
    - indentation error
        - error related to space

In [45]:
print("written by using double")

written by using double

In [46]:
print('single quoted output')

single quoted output

In [47]:
print("started with double quotation and ended with single by mistake')

SyntaxError: EOL while scanning string literal (<ipython-input-47-7d4fb7d24a81>, line 1)

In [48]:
## value error
9+5

14

In [49]:
9+"ruthu"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
9-4

5

In [51]:
#"Meda Ruthu":full name
"meda"-"ruthu"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [52]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']