### Topics
- data types 
- type casting/conversion
- dynamic input reading

#### Data type
- data can exist in anyform in real world
- data means an information
- textual,music,video,pictures
- **integer**
    - numbers,34,-65
 - float
     - cgpa=8.3
 - **strings**
     - name
- bio-data/graphy
    - name,id,mbl,address

In [4]:
#write a python program to add 2 no.s
f,s=12,30 # type declaration
f+s

42

In [6]:
s,j=45.23,10.25 # float data type
s-j

34.98

In [7]:
"ruthu"+"vanitha" # it combines both strings

'ruthuvanitha'

In [9]:
type(f) # pre defined function that checks data type of variable

int

In [10]:
type(j)

float

In [11]:
type("video")

str

### type conversion/casting
- from one data type to another data type
- int to float
- float to int
- float to str
- str to float
- str to int
- int to str
- 2 types of data type conversion
    - implicit conversion and
        - automatic conversion by interpreter
    - explicit conversion
        - user converts data type of variable

In [13]:
 # int to float
float(67)

67.0

In [14]:
h=10
float(h) # explicit conversion

10.0

In [15]:
num=123
str(num) # str() to convert variable into string

'123'

In [16]:
n="190"
float(n)

190.0

In [17]:
word="ruthu"
int(word)

ValueError: invalid literal for int() with base 10: 'ruthu'

In [18]:
# implicit conversion
90+34.5 # result is float value

124.5

In [20]:
"123"+"ruthu"

'123ruthu'

### Dynamic reading
- taking/reading data from the user
- int,float and string

In [24]:
dig=35
dig

35

In [25]:
st="varun"
st

'varun'

In [4]:
word=input("enter the string:") 
# pre defined function that reads/takes string type of data from user
word

enter the string:python

'python'

In [5]:
word

'python'

In [8]:
# how to read int type data from user
num=int(input("enter any number:"))
num

enter any number:89

89

In [13]:
''' write a python program and perfrom remainer operation
2)6(3
    ---0 # 6%2=0;6/2=3 '''
a,b=int(input("enter first value:")),int(input("second value:"))
print("remainder is ",a%b)

enter first value:12
second value:5
remainder is  2

In [15]:
gpa=float(input("enter your gpa:"))
print("your gpa is ",gpa)

enter your gpa:8
your gpa is  8.0