### Nested For Loop
- loop within loop 
- in main loop iterate sub loop
- inner loop will be iterated with respect to outer loop
- **syntax**
    - for in range():
        - for loop:
            - statements
- row and columns:matrix format
- row:column
    - ex:2x3--2 rows and 3 columns
        - 0 1 2 -in first 3 columns
        - 3 4 5 - 2nd 3 columns

### range(3 parameters)
- used to store a range of values
- x=10,name='telugu tech life'
- (1,10) range
- atleast one argument and atmost 3 args
    - range(10):it stores 10 values by default 0 to 9:exclusive
    - range(5,16)-- values from 5 to 15
    - range(start,stop,step_count)
        - alternate no.s within range(20 and 45)
        - ex:range(20,46,2)

In [5]:
nums=range(10) # 10 values
nums #print() 1,2,3,4,5...10 # printing the values(repetition) iteration
for num in nums:
    print(num) # iteration

0
1
2
3
4
5
6
7
8
9

In [6]:
bounds=range(5,16) # printing values side by side
for dig in bounds:
    print(dig,end=" ")

5 6 7 8 9 10 11 12 13 14 15

In [7]:
# 3rd arguments
step=range(20,46,2)
for num in step:
    print(num,end=" ")

20 22 24 26 28 30 32 34 36 38 40 42 44

In [8]:
20+2=22
22+2=24
24+2=26
26+2=28...44+2=46

SyntaxError: invalid syntax (<ipython-input-8-b7ffd71573e3>, line 4)

In [9]:
# 3rd arguments
step=range(20,46,3)
for num in step:
    print(num,end=" ")

20 23 26 29 32 35 38 41 44

In [10]:
# 1 to 5
for num in range(5): # 1 2 3 4 5
    print("telugu tech life")
    
'''
    num=1:"telugu tech life"
    num=2: ""
    num=3: ""
    num=4: ""
    num=5: "" '''

telugu tech life
telugu tech life
telugu tech life
telugu tech life
telugu tech life

In [12]:
for num in range(6): # main loop: 5times
    for dig in range(1,num+1): # 1 to 2:1 time,2 times,3times(1 to 4)
        print(dig,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
n=int(input("enter pattern size"))
for num in range(n): # 1 to n-1:6;5times:1 2 3 4 5
    for dig in range(1,num+1): # that many times num is printed
        print(num,end=" ")
    print()

enter pattern size6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
# square pattern:nxn:printing col values
for num in range(n): # 5times
    for dig in range(1,n+1):  #5times
        print(dig,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [17]:
# sqaure pattern
for row in range(n):
    for col in range(n):
        print(row,end=" ")
    print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [5]:
#nxn matrix
m,n=int(input()),int(input())
for row in range(m):
    for col in range(1,m+1):
        print(col,end=" ")
    print()

3
4
1 2 3
1 2 3
1 2 3

In [8]:
# mxn matrix=3x4
f,s=int(input()),int(input())
for num in range(1,f+1):
    for val in range(1,s+1):
        print(num,end=" ") # i=1;i=2;i=3;i=4;i=5;
    print()

5
7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5