## Lists 
- one of the most important and efficient data structures in python
- used to store collection of data,hetegenous data
- different types 
- represented by []
- mutable in nature
- we can modify data,add new data
- list()

In [1]:
li=[] # it is empty list
print(li)

[]

In [4]:
# create a list of range of values(20,40)
li2=list(range(20,31)) # upper bound
print(li2)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [6]:
# string into list of characters
st=list("ruthu from guntur")
print(st)

['r', 'u', 't', 'h', 'u', ' ', 'f', 'r', 'o', 'm', ' ', 'g', 'u', 'n', 't', 'u', 'r']

In [7]:
# hetegenous data
values=["ashok",123,90.34]
print(values)

['ashok', 123, 90.34]

#### Slicing
- extracting some part of list using indices/range
- forward indexing/+ve indexing
    - 0 to len(iterable)-1
    - from left to right
- backward indexing/-ve indexing
    - -1 to -infinite
    - right to left

In [9]:
# 0 to len(list)-1
values[0] # first element in list

'ashok'

In [10]:
values[1] # 2nd element

123

In [11]:
len(values) # gives us the no.of elements/items in list
# 0 to 2

3

In [12]:
values[2]

90.34

In [13]:
# -ve indexing
values[-1] # last element in list

90.34

In [14]:
values[-2] # last but one ele

123

In [16]:
len(st) # 17 chars " " is also considered to be char

17

In [17]:
#ruthu from guntur "from"
# start:stop
st[6:9]

['f', 'r', 'o']

In [20]:
sub=st[6:10] 
sub# list of characters present in the given range

['f', 'r', 'o', 'm']

In [21]:
# string.split() # list of character
s=input().split()
print(type(s)) # list

hi i AM Ruthu
<class 'list'>

In [22]:
s2=input() # reading string from user
type(s2) #

i am ruthu

str

#### list(),input().split() 
- 2 ways to create list

#### List methods
- the methods can only be applied on list only
- dir(list)
- append()
    - helps us to add new data to existed list at the end
- clear()
    - clears the data in list results in empty list
- copy()
    - copies the list of items to the another list
- count()
    - frequency of one perticular item in list
- extend()
    - extends the list
- min(list)
    - minimum ele in list
- max(list)
    - maximum ele
- sum(list)
    - adds up all elements in list if they belongs to same datatype
- reverse()
    - reverse the order of list
- sort()
    - arranges all the elements in ascending order 
- pop()
    - removes the last element

In [23]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
li=input().split() # basically this a list
# space separated values in str,int datatype
count=0
# frequency of perticular number :2
for num in li:
    if num=="2": # 
        count+=1
print("frequency=",count) # logical implementation

4 6 89 12 34 2 90 18 2 89 45 2 10
frequency= 3

In [25]:
li.count("2") #

3

In [26]:
min(li) # characters,based on their ascii values

'10'

In [27]:
ord('2') # 2 char

50

In [32]:
ord('10')

TypeError: ord() expected a character, but string of length 2 found

In [33]:
new=[]
for num in li:
    new.append(int(num))
new

[4, 6, 89, 12, 34, 2, 90, 18, 2, 89, 45, 2, 10]

In [35]:
print(min(new)) # return 2
print(max(new)) # 90
print(sum(new)) #

2
90
403

In [36]:
s=0
for num in new:
    s+=num
print(s) # behind this sum method

403

In [37]:
new[1]

6

In [38]:
# modify this element
new[1]='vanitha' # value updation
print(new)

[4, 'vanitha', 89, 12, 34, 2, 90, 18, 2, 89, 45, 2, 10]

In [39]:
new.append("new data") # it will be added at end

In [40]:
new

[4, 'vanitha', 89, 12, 34, 2, 90, 18, 2, 89, 45, 2, 10, 'new data']

In [41]:
new.extend([1,2,3,4]) # this entire list will be added at the end

In [42]:
new

[4, 'vanitha', 89, 12, 34, 2, 90, 18, 2, 89, 45, 2, 10, 'new data', 1, 2, 3, 4]

In [43]:
new.append(("ruthu",'vanitha','nandini'))
new #  iterable without changes add

[4,
 'vanitha',
 89,
 12,
 34,
 2,
 90,
 18,
 2,
 89,
 45,
 2,
 10,
 'new data',
 1,
 2,
 3,
 4,
 ('ruthu', 'vanitha', 'nandini')]

In [48]:
new.reverse() # list to be reversed

In [49]:
new

[('ruthu', 'vanitha', 'nandini'),
 4,
 3,
 2,
 1,
 'new data',
 10,
 2,
 45,
 89,
 2,
 18,
 90,
 2,
 34,
 12,
 89,
 'vanitha',
 4]

In [50]:
#pop() # last element
#pop(5) # current elememnt

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
new.pop()

4

In [52]:
new

[('ruthu', 'vanitha', 'nandini'),
 4,
 3,
 2,
 1,
 'new data',
 10,
 2,
 45,
 89,
 2,
 18,
 90,
 2,
 34,
 12,
 89,
 'vanitha']

In [53]:
new.pop(5)

'new data'

In [54]:
new

[('ruthu', 'vanitha', 'nandini'),
 4,
 3,
 2,
 1,
 10,
 2,
 45,
 89,
 2,
 18,
 90,
 2,
 34,
 12,
 89,
 'vanitha']

In [57]:
# find the second largest val in list
# 89 12 34 67 10 56 27 71 
# max:89,min:10
# second largest:67
nums=[89,12,34,67,10,56,27,71]
# sort()
nums.sort()

In [58]:
nums # ascending order

[10, 12, 27, 34, 56, 67, 71, 89]

In [60]:
nums[-2] # second

71

In [61]:
s=set()

In [62]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [63]:
help(s.difference_update)

Help on built-in function difference_update:

difference_update(...) method of builtins.set instance
    Remove all elements of another set from this set.

In [67]:
a={1,2,3,4,5,6,7}
b={6,3,9,10,1}
a.difference(b)

{2, 4, 5, 7}

In [65]:
#a.difference_update(b) # removes common elements of b in a and updates set a

In [68]:
a

{1, 2, 3, 4, 5, 6, 7}

In [69]:
a.symmetric_difference(b) # unique elements

{2, 4, 5, 7, 9, 10}

In [70]:
help(s.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [71]:
help(s.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [72]:
c={'ruthu','vanitha'}
a.update(c) # updates the set with another elements

In [73]:
a

{1, 2, 3, 4, 5, 6, 7, 'ruthu', 'vanitha'}

In [74]:
a.isdisjoint(b)

False